.autocomplete {
  display: flex;
  flex-direction: column;
}

.autocomplete__options, .autocomplete__options .mdl-menu__container, .autocomplete__options .mdl-menu__container > div, .autocomplete__options .mdl-menu__container > ul {
  width: 300px !important;
  max-width: 100%;
}

.autocomplete__options .mdl-menu__container > ul {
  max-height: 176px;
  overflow-y: auto;
}

.autocomplete__options {
  margin-top: -20px;
  position: relative;
}
